@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    font-family: 'Manrope', arial;
    background: #EDEDED;
}

header {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vh;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero_title {
    color: #FFD15B;
    font-size: 44px;
    max-width: 50%;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Anton', arial;
}

.search_bar {
    position: relative;
    width: 70%;
    height: 70px;
}

.search_input {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.search_button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    aspect-ratio: 1;
    border: none;
    outline: none;
}

.search_button img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.filter_section {
    padding: 0 3vw;
    margin: 30px 0 60px;
}

.filter_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3vw;
    width: 100%;
}

.tag {
    border-radius: 10px;
    background: #FFD15B;
    display: inline-flex;
    gap: 60px;
    padding: 17px 18px;
    align-items: center;
}

.close_btn {
    cursor: pointer;
}

.dropdown_section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
}

.dropdown {
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    min-width: 200px;
    background: #FFF;
    margin-bottom: 20px;
}

.dropdown_title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 57px;
    cursor: pointer;
}

.dropdown_title-chevron.active {
    transform: rotate(180deg);
}

.dropdown_content {
    width: 100%;
    max-width: 200px;
    min-height: 200px;
    height: 0;
    min-height: 0;
}

.dropdown_content.active {
    height: auto;
}

.dropdown_search-section {
    position: relative;
    top: 1px;
    padding: 0 20px;
    margin-bottom: 15px;
}

.dropdown_search-input {
    position: relative;
    width: 100%;
    height: 36px;
    padding: 10px;
    border: none;
    outline: 1px solid #C6C6C6;
}

.search-input_button {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown_list {
    list-style-type: none;
    max-height: 150px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 20px;
}

.dropdown_list::-webkit-scrollbar {
    display: none;
}

.dropdown_item {
    padding: 5px 20px;
}

.dropdown_item:hover {
    background: #FFD15B;
    cursor: pointer;
}

.txt_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    font-family: 'Anton', arial;
    font-size: 21px;
    color: #1B1B1B;
}

.recipes_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3vw;
    padding: 0 3vw;
}

.recipe_card {
    flex: calc(33.33% - 3vw);
    min-height: 731px;
    height: auto;
    border-radius: 21px;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.recipe_card:hover .recipe_img {
    transform: scale(1.02);
    transition: transform .3s ease;
}

.recipe_duration {
    position: absolute;
    right: 15px;
    top: 15px;
    display: inline-flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background: #FFD15B;
    z-index: 999;
}

.recipe_img {
    width: 100%;
    height: 253px;
    object-fit: cover;
    transition: transform .3s ease;
}

.recipe_content {
    padding: 2vw;
}

.recipe_title {
    font-family: 'Anton', arial;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.recipe_description,
.recipe_ingredients {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.recipe_description_title,
.recipe_ingredients_title {
    color: #7A7A7A;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}

.recipe_description_txt {
    color: #1B1B1B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    max-height: 120px;
    overflow-y: scroll;
}

.recipe_ingredients_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.recipe_ingredient {
    flex: 0 0 calc(33.333% - 10px);
    box-sizing: border-box;
}

.recipe_ingredient_title {
    font-size: 14px;
    font-weight: 500;
}

.recipe_ingredient_txt {
    color: #7A7A7A;
    font-size: 14px;
}